body {
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
}
header nav a {
    color: white;
}
.grid-container {
    width: 50%; 
    height: 60%;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) 15px;
    gap: 0.5rem;
}
.grid {
    background-color: black;
}
.grid-one {
    background-color: red;
    grid-column-start: span 3;
    grid-row-start: span 2;
}
.grid-two {
    background-color: rgb(255, 238, 0);
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.grid-three {
    background-color: green;
    grid-column-start: span 2;
    grid-row-start: span 3;
}
.grid-four {
    background-color: rgb(21, 162, 250);
    grid-column-start: span 3;
    grid-row-start: span 1;
}
.grid-five {
    background-color: rgb(21, 162, 250);
    grid-column-start: span 3;
    grid-row-start: span 2;
}
@media (max-width: 798px) {
    .grid-container {
        width: 80%;
        height: 40%;
    }
}